.layout {
  min-height: 100vh;
}
.layout-content {
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;

  background: #fff;
  padding: 20px;
}

.actions {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 1em;
}
